### EXTRA SESSION - ETL USING AWS RDS

**What is ETL?**
- Extract, transform, and load (ETL) is the process of combining data from multiple sources into a large, central repository called a data warehouse.
- ETL uses a set of business rules to clean and organize raw data and prepare it for storage, data analytics, and machine learning (ML).
- You can address specific business intelligence needs through data analytics (such as predicting the outcome of business decisions, generating reports and dashboards, reducing operational inefficiency, and more).

**AWS RDS ?**
- Amazon Relational Database Service (Amazon RDS)
- Managed SQL Database to set up, operate, and scale databases in the cloud.
- Article Link: https://aws.amazon.com/rds/

In [1]:
# import mysql.connector

# # mysql conncetion object
# conn = mysql.connector.connect(host='localhost',
#                                user='root',
#                                password='',
#                                database='world')

In [2]:
# we can perform multiple qureries with conncetion object
# pd.read_sql_query("SELECT * FROM delivery", conn).head()

In [68]:
import pandas as pd

player_captain = pd.read_csv('DATASETS/ES/player_captain.csv')
player = pd.read_csv('DATASETS/ES/player.csv')
delivery = pd.read_csv('DATASETS/ES/delivery.csv',).reset_index()

In [70]:
delivery.head()

,index,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,0,335982,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
1,1,335982,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
2,2,335982,1,7,1,BB McCullum,RT Ponting,Z Khan,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
3,3,335982,1,7,2,BB McCullum,RT Ponting,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
4,4,335982,1,7,3,RT Ponting,BB McCullum,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore