### EXTRA SESSION - ETL USING AWS RDS

**What is ETL?**
- Extract, transform, and load (ETL) is the process of combining data from multiple sources into a large, central repository called a data warehouse.
- ETL uses a set of business rules to clean and organize raw data and prepare it for storage, data analytics, and machine learning (ML).
- You can address specific business intelligence needs through data analytics (such as predicting the outcome of business decisions, generating reports and dashboards, reducing operational inefficiency, and more).

**AWS RDS ?**
- Amazon Relational Database Service (Amazon RDS)
- Managed SQL Database to set up, operate, and scale databases in the cloud.
- Article Link: https://aws.amazon.com/rds/

In [1]:
# import mysql.connector

# # mysql conncetion object
# conn = mysql.connector.connect(host='localhost',
#                                user='root',
#                                password='',
#                                database='world')

In [2]:
# we can perform multiple qureries with conncetion object
# pd.read_sql_query("SELECT * FROM delivery", conn).head()

In [19]:
import pandas as pd

player_captain = pd.read_csv('DATASETS/ES/player_captain.csv').reset_index()
player = pd.read_csv('DATASETS/ES/player.csv')
delivery = pd.read_csv('DATASETS/ES/delivery.csv',).reset_index()

In [20]:
player_captain.head()

   index  Match_Id  Player_Id  Team_Id  Is_Keeper  Is_Captain
0      0    335987          1        1          0           1
1      1    335987          2        1          0           0
2      2    335987          3        1          0           0
3      3    335987          4        1          0           0
4      4    335987          5        1          0           0

In [21]:
player.head()

,Player_Id,Player_Name,DOB,Batting_Hand,Bowling_Skill,Country,Is_Umpire,Unnamed: 7
0,1,SC Ganguly,8-Jul-72,Left_Hand,Right-arm medium,India,0,NaN
1,2,BB McCullum,27-Sep-81,Right_Hand,Right-arm medium,New Zealand,0,NaN
2,3,RT Ponting,19-Dec-74,Right_Hand,Right-arm medium,Australia,0,NaN
3,4,DJ Hussey,15-Jul-77,Right_Hand,Right-arm offbreak,Australia,0,NaN
4,5,Mohammad Hafeez,17-Oct-80,Right_Hand,Right-arm offbreak,Pakistan,0,NaN

In [22]:
delivery.head()

,index,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,0,335982,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
1,1,335982,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
2,2,335982,1,7,1,BB McCullum,RT Ponting,Z Khan,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
3,3,335982,1,7,2,BB McCullum,RT Ponting,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
4,4,335982,1,7,3,RT Ponting,BB McCullum,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore

In [23]:
temp_df = player.merge(player_captain, on='Player_Id')[['Player_Name','Match_Id','Is_Captain']]
temp_df

      Player_Name  Match_Id  Is_Captain
0      SC Ganguly    335987           1
1      SC Ganguly    335991           1
2      SC Ganguly    335998           1
3      SC Ganguly    336002           1
4      SC Ganguly    336005           1
...           ...       ...         ...
12689   DL Chahar    981010           0
12690  P Dharmani    335988           0
12691    RV Pawar    336026           0
12692  KH Devdhar    501269           0
12693    T Mishra    548331           0

[12694 rows x 3 columns]

In [24]:
delivery

,index,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,0,335982,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
1,1,335982,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
2,2,335982,1,7,1,BB McCullum,RT Ponting,Z Khan,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
3,3,335982,1,7,2,BB McCullum,RT Ponting,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
4,4,335982,1,7,3,RT Ponting,BB McCullum,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193463,193463,1237181,1,12,5,RR Pant,SS Iyer,NM Coulter-Nile,0,0,0,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians
193464,193464,1237181,1,12,6,RR Pant,SS Iyer,NM Coulter-Nile,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians
193465,193465,1237181,1,13,1,RR Pant,SS Iyer,KH Pandya,0,1,1,0,0,NaN,NaN,NaN,wides,Delhi Capitals,Mumbai Indians
193466,193466,1237181,1,13,2,RR Pant,SS Iyer,KH Pandya,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians
193467,193467,1237181,1,13,3,SS Iyer,RR Pant,KH Pandya,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians

#### Transform:

In [25]:
delivery.merge(temp_df, left_on=['id','batsman'], right_on=['Match_Id','Player_Name'], how="left").fillna(0)

,index,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,...,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team,Player_Name,Match_Id,Is_Captain
0,0,335982,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,...,0,0,0,0,0,Kolkata Knight Riders,Royal Challengers Bangalore,0,0.0,0.0
1,1,335982,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,...,0,0,0,0,0,Kolkata Knight Riders,Royal Challengers Bangalore,0,0.0,0.0
2,2,335982,1,7,1,BB McCullum,RT Ponting,Z Khan,0,0,...,0,0,0,0,0,Kolkata Knight Riders,Royal Challengers Bangalore,0,0.0,0.0
3,3,335982,1,7,2,BB McCullum,RT Ponting,Z Khan,1,0,...,0,0,0,0,0,Kolkata Knight Riders,Royal Challengers Bangalore,0,0.0,0.0
4,4,335982,1,7,3,RT Ponting,BB McCullum,Z Khan,1,0,...,0,0,0,0,0,Kolkata Knight Riders,Royal Challengers Bangalore,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193463,193463,1237181,1,12,5,RR Pant,SS Iyer,NM Coulter-Nile,0,0,...,0,0,0,0,0,Delhi Capitals,Mumbai Indians,0,0.0,0.0
193464,193464,1237181,1,12,6,RR Pant,SS Iyer,NM Coulter-Nile,1,0,...,0,0,0,0,0,Delhi Capitals,Mumbai Indians,0,0.0,0.0
193465,193465,1237181,1,13,1,RR Pant,SS Iyer,KH Pandya,0,1,...,0,0,0,0,wides,Delhi Capitals,Mumbai Indians,0,0.0,0.0
193466,193466,1237181,1,13,2,RR Pant,SS Iyer,KH Pandya,1,0,...,0,0,0,0,0,Delhi Capitals,Mumbai Indians,0,0.0,0.0
193467,193467,1237181,1,13,3,SS Iyer,RR Pant,KH Pandya,1,0,...,0,0,0,0,0,Delhi Capitals,Mumbai Indians,0,0.0,0.0

In [26]:
runs = delivery.groupby(['id','batsman'])['batsman_runs'].sum().reset_index()
balls = delivery.groupby(['id','batsman'])['batsman_runs'].count().reset_index()

In [27]:
fours = delivery.query('batsman_runs == 4').groupby(['id','batsman'])['batsman_runs'].count().reset_index()
sixes = delivery.query('batsman_runs == 6').groupby(['id','batsman'])['batsman_runs'].count().reset_index()

#### Merge all df in final_df

In [28]:
runs_and_balls = runs.merge(balls,on=['id','batsman'], suffixes=('_runs','_balls'))
fours_and_sixes = runs_and_balls.merge(fours, on=['id','batsman'], how='left').merge(sixes, on=['id','batsman'], how='left')

In [29]:
final_df = runs_and_balls.merge(fours_and_sixes)

In [30]:
final_df.head()

,id,batsman,batsman_runs_runs,batsman_runs_balls,batsman_runs_x,batsman_runs_y
0,335982,AA Noffke,9,12,1.0,NaN
1,335982,B Akhil,0,2,NaN,NaN
2,335982,BB McCullum,158,77,10.0,13.0
3,335982,CL White,6,10,NaN,NaN
4,335982,DJ Hussey,12,12,1.0,NaN

In [31]:
final_df['strike_rate'] = round((runs_and_balls['batsman_runs_runs']/runs_and_balls['batsman_runs_balls'])*100, 2)
final_df

,id,batsman,batsman_runs_runs,batsman_runs_balls,batsman_runs_x,batsman_runs_y,strike_rate
0,335982,AA Noffke,9,12,1.0,NaN,75.00
1,335982,B Akhil,0,2,NaN,NaN,0.00
2,335982,BB McCullum,158,77,10.0,13.0,205.19
3,335982,CL White,6,10,NaN,NaN,60.00
4,335982,DJ Hussey,12,12,1.0,NaN,100.00
...,...,...,...,...,...,...,...
12157,1237181,RR Pant,56,40,4.0,2.0,140.00
12158,1237181,S Dhawan,15,13,3.0,NaN,115.38
12159,1237181,SA Yadav,19,20,1.0,1.0,95.00
12160,1237181,SO Hetmyer,5,5,1.0,NaN,100.00
12161,1237181,SS Iyer,65,51,6.0,2.0,127.45

In [35]:
final_df = final_df.merge(temp_df,left_on=['id','batsman'],right_on=['Match_Id','Player_Name'],how='left').drop(columns=['Player_Name','Match_Id']).fillna(0)

In [36]:
final_df.fillna(0, inplace=True)

In [37]:
final_df.rename(
    columns={
        'batsman_runs_runs':'runs',
        'batsman_runs_balls':'balls',
        'batsman_runs_x':'4s',
        'batsman_runs_y':'6s',  
    }, inplace=True
)

In [38]:
final_df

            id      batsman  runs  balls    4s    6s  strike_rate  Is_Captain
0       335982    AA Noffke     9     12   1.0   0.0        75.00         0.0
1       335982      B Akhil     0      2   0.0   0.0         0.00         0.0
2       335982  BB McCullum   158     77  10.0  13.0       205.19         0.0
3       335982     CL White     6     10   0.0   0.0        60.00         0.0
4       335982    DJ Hussey    12     12   1.0   0.0       100.00         0.0
...        ...          ...   ...    ...   ...   ...          ...         ...
12157  1237181      RR Pant    56     40   4.0   2.0       140.00         0.0
12158  1237181     S Dhawan    15     13   3.0   0.0       115.38         0.0
12159  1237181     SA Yadav    19     20   1.0   1.0        95.00         0.0
12160  1237181   SO Hetmyer     5      5   1.0   0.0       100.00         0.0
12161  1237181      SS Iyer    65     51   6.0   2.0       127.45         0.0

[12162 rows x 8 columns]