### **S27.2 - WORKING WITH EXCEL FILES**

In [6]:
import pandas as pd

**What is excel files ?**
- Excel files are spreadsheets created using Microsoft Excel, a part of the Microsoft Office suite.
- They store tables, formulas, and data for tasks like calculations, inventory tracking, and accounting.
- Excel files can have formats like .xls or .xlsx and are binary files containing information about the workbook's worksheets.

**read_excel() function:**
- It is used to read data from Excel files into a pandas DataFrame.
- Also, it have versatile function that allows you to read data from Excel workbooks containing one or more sheets.
- **Syntax: pd.read_excel(filepath, sheet_name, names, header, index_col, usecols, dtype, converters, skiprows, nrows, na_values, parse_dates)**

In [30]:
# importing excel files
import pandas as pd

In [33]:
pd.read_excel('batsman_runs.xlsx')

             batter  batsman_run
0    A Ashish Reddy          280
1          A Badoni          161
2        A Chandila            4
3          A Chopra           53
4       A Choudhary           25
..              ...          ...
600      Yash Dayal            0
601   Yashpal Singh           47
602     Younis Khan            3
603    Yuvraj Singh         2754
604          Z Khan          117

[605 rows x 2 columns]

In [ ]:
# Assuming 'batsman_runs.xlsx' is the Excel file
# and 'batsman_runs_with_teams' is the sheet name
pd.read_excel('batsman_runs.xlsx', sheet_name='batsman_runs_with_teams')