#### **S27.5 - PANDAS EXPORT**

Some commonly used export functions in pandas library:

In [32]:
import pandas as pd

**to_csv() function**
- **Syntax: DataFrame.to_csv(file_path, index=Ture)**

In [42]:
df = pd.read_csv('deliveries.csv')
df.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [43]:
# ex.1
temp_df = df.groupby('batsman')['batsman_runs'].sum().reset_index()
temp_df.to_csv('batsman_runs.csv', index=False)

In [44]:
# ex.2
new_df = df.pivot_table(index='batsman', columns='bowling_team', 
                        values='batsman_runs', aggfunc='sum')
new_df.to_csv('batsman_vs_teams.csv')

**to_excel() function**
- **Syntax: DataFrame.to_excel(file_path, sheet_name)**

In [45]:
# Ex.1
temp_df = df.groupby('batsman')['batsman_runs'].sum().reset_index()
temp_df.to_excel('batsman_runs.xlsx')

In [46]:
# sheet_name parameter
temp_df.to_excel('batsman_runs.xlsx', sheet_name='batsman_runs_1')

In [47]:
temp_df1 = df.groupby('batsman')['batsman_runs'].sum().reset_index()
temp_df2 = df.pivot_table(index='batsman', columns='bowling_team', 
                        values='batsman_runs', aggfunc='sum')
# Excel file with multiple sheet
with pd.ExcelWriter('BatsmanRuns.xlsx') as writer:
    temp_df1.to_excel( writer, sheet_name='batsman_runs_1')
    temp_df2.to_excel( writer, sheet_name='batsman_runs_2')

**to_html() function**
- Render a DataFrame as an HTML table.
- **Syntax: DataFrame.to_html(file_path, index=Ture)**

In [48]:
six = df.query('batsman_runs == 6')
df1 = six.pivot_table(index='over',columns='ball',
                values='batsman_runs', aggfunc='count')
df1.to_html('sixies_per_ball.html',bold_rows=False)

**to_json() function**
- Convert the object to a JSON string.
- **Syntax: DataFrame.to_json(file_path, index=Ture)**
- **Note:** NaNâ€™s and None will be converted to null and datetime objects will be converted to UNIX timestamps.

In [59]:
df.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [62]:
# Players with there team
players = df.groupby(['batting_team','batsman'])['batsman_runs'].sum().unstack()
players.to_json('players_and_teams.json')

**to_sql() function**
- Write records stored in a DataFrame to a SQL database.
- **Syntax: DataFrame.to_sql(name, con, schema, if_exists='fail', index=True, index_label, chunksize, dtype, method)**
- Databases supported by SQLAlchemy are supported. Tables can be newly created, appended to, or overwritten.

In [68]:
!pip install pymysql
!pip install sqlalchemy

Requirement already satisfied: pymysql in c:\users\akash pagi\appdata\local\programs\python\python312\lib\site-packages (1.1.0)

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: sqlalchemy in c:\users\akash pagi\appdata\local\programs\python\python312\lib\site-packages (2.0.25)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\akash pagi\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\akash pagi\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (3.0.3)

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [69]:
import pymysql
from sqlalchemy import create_engine


from sqlalchemy import create_engine
engine = create_engine("mysql+pymysql://root:@localhost/ipl")
df.to_sql('ipl', con = engine, if_exists='append')

179078

In [71]:
temp_df.to_sql('batsman_runs', con = engine, if_exists='append')

516